# Pair Unión y Limpieza de Datos

Ejercicios Unión de Datos
Para realizar este pair programming deberéis usar el conjunto de datos de world-data-2023-part1.csv y el de world-data-2023-part2.csv.

Hoy tenemos un dataset nuevo, en este encontraremos las siguientes columnas:

`GDP`: Producto Interno Bruto, el valor total de bienes y servicios producidos en el país.

`Gross primary education enrollment (%)`: Tasa bruta de matriculación en educación primaria.

`Gross tertiary education enrollment (%)`: Tasa bruta de matriculación en educación terciaria.

`Infant mortality`: Número de muertes por cada 1,000 nacidos vivos antes de cumplir un año de edad.

`Largest city`: Nombre de la ciudad más grande del país.

`Life expectancy`: Número promedio de años que se espera que viva un recién nacido.

`Maternal mortality ratio`: Número de muertes maternas por cada 100,000 nacidos vivos.

`Minimum wage`: Nivel de salario mínimo en moneda local.

`Official language`: Idioma(s) oficial(es) hablado(s) en el país.

`Out of pocket health expenditure`: Porcentaje del gasto total en salud pagado directamente por individuos.

`Physicians per thousand`: Número de médicos por cada mil personas.

`Population`: Población total del país.

`Population: Labor force participation (%)`: Porcentaje de la población que forma parte de la fuerza laboral.

`Tax revenue (%)`: Ingresos fiscales como porcentaje del PIB.

`Total tax rate`: Carga fiscal total como porcentaje de las ganancias comerciales.

`Unemployment rate`: Porcentaje de la fuerza laboral que está desempleada.

`Urban_population`: Porcentaje de la población que vive en áreas urbanas.

`coordinates`: Coordenadas de latitud y longitud de la ubicación del país.

`country`: Nombre del país.

Tienes a tu disposición dos conjuntos de datos, "world-data-2023-part1.csv" y "world-data-2023-part2.csv", que contienen información de una serie de indicadores y datos de distintos países. Tu tarea es explorar estos conjuntos de datos y determinar qué tienen en común en términos de columnas y datos.

In [52]:
import pandas as pd
import re
pd.set_option('display.max_columns', None)

In [3]:
df_part1 = pd.read_csv("world-data-2023_part1.csv", index_col=0)
df_part1.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

In [4]:
df_part1.shape

(195, 16)

In [5]:
df_part2 = pd.read_csv("world-data-2023_part2.csv", index_col=0)
df_part2.head()

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"

In [6]:
df_part2.shape

(195, 19)

Luego, debes crear un nuevo DataFrame que combine la información de ambos conjuntos de datos en un solo conjunto de datos. Para hacerlo, debes seleccionar el método de unión de Pandas que consideres más apropiado para esta situación y justificar por qué crees que ese método es el mejor en tu informe.

Asegúrate de realizar los siguientes pasos:

Explora y carga ambos conjuntos de datos en pandas DataFrames.

Identifica las columnas comunes entre los dos conjuntos de datos.

Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

In [7]:
df_unidos = df_part1.merge(df_part2,left_on = "Country", right_on="country" )
df_unidos.shape

(195, 35)


#### Merge es el mejor metodo pq hemos visto que tienen una columna en común. Por defect es inner

Ejercicios de Limpieza
Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [8]:
df_unidos.drop(columns=["country"], inplace=True)

In [9]:
df_unidos.shape

(195, 34)

Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

No tengan espacios.

Estén en minúscula.

No tengan paréntesis, es decir, quitar "(%)", "(Km2)".

Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [10]:
nuevas_columnas = { columna: re.sub(r'\([^)]*\)', '', columna).lower().replace(" ", "").replace('\n',"").replace(":","") for columna in df_unidos.columns }
nuevas_columnas

{'Country': 'country',
 'Density\n(P/Km2)': 'density',
 'Abbreviation': 'abbreviation',
 'Agricultural Land( %)': 'agriculturalland',
 'Land Area(Km2)': 'landarea',
 'Armed Forces size': 'armedforcessize',
 'Birth Rate': 'birthrate',
 'Calling Code': 'callingcode',
 'Capital/Major City': 'capital/majorcity',
 'Co2-Emissions': 'co2-emissions',
 'CPI': 'cpi',
 'CPI Change (%)': 'cpichange',
 'Currency-Code': 'currency-code',
 'Fertility Rate': 'fertilityrate',
 'Forested Area (%)': 'forestedarea',
 'Gasoline Price': 'gasolineprice',
 'GDP': 'gdp',
 'Gross primary education enrollment (%)': 'grossprimaryeducationenrollment',
 'Gross tertiary education enrollment (%)': 'grosstertiaryeducationenrollment',
 'Infant mortality': 'infantmortality',
 'Largest city': 'largestcity',
 'Life expectancy': 'lifeexpectancy',
 'Maternal mortality ratio': 'maternalmortalityratio',
 'Minimum wage': 'minimumwage',
 'Official language': 'officiallanguage',
 'Out of pocket health expenditure': 'outofpockethealthexpenditure',
 'Physicians per thousand': 'physiciansperthousand',
 'Population': 'population',
 'Population: Labor force participation (%)': 'populationlaborforceparticipation',
 'Tax revenue (%)': 'taxrevenue',
 'Total tax rate': 'totaltaxrate',
 'Unemployment rate': 'unemploymentrate',
 'Urban_population': 'urban_population',
 'coordinates': 'coordinates'}

In [11]:
df_unidos.rename(columns=nuevas_columnas, inplace=True)

In [12]:
df_unidos.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'coordinates'],
      dtype='object')

La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [13]:
df_coord = df_unidos["coordinates"].str.split(",", expand=True).get([0,1])

In [14]:
df_lat = df_coord[0].str.replace("(", "")
df_long = df_coord[1].str.replace(")", "")

In [15]:
df_unidos["latitud"] = df_lat

In [16]:
df_unidos["longitud"] = df_long

In [17]:
df_unidos.drop(columns="coordinates", inplace=True)

In [18]:
df_unidos.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud'],
      dtype='object')


Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [19]:
lista = ["unemploymentrate", "totaltaxrate", "taxrevenue", "populationlaborforceparticipation", "outofpockethealthexpenditure","grosstertiaryeducationenrollment", "grossprimaryeducationenrollment",  "forestedarea", "cpichange", "agriculturalland"]

In [20]:
df_unidos.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",'33.93911 ','67.709953'
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",'41.153332 ','20.168331'
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",'28.033886 ','1.659626'
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",'42.506285 ','1.521801'
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",'-11.202692 ','17.873887'

In [21]:
for col in lista:
    df_unidos[col] = df_unidos[col].str.split("%", expand=True).get(0)

In [22]:
df_unidos.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",'33.93911 ','67.709953'
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",'41.153332 ','20.168331'
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",'28.033886 ','1.659626'
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",'42.506285 ','1.521801'
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",'-11.202692 ','17.873887'

Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

In [23]:
df_unidos.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud'],
      dtype='object')

In [24]:
df_unidos.loc[:5, ["gasolineprice", "gdp", "minimumwage"]]

  gasolineprice                gdp minimumwage
0        $0.70    $19,101,353,833       $0.43
1        $1.36    $15,278,077,447       $1.12
2        $0.28   $169,988,236,398       $0.95
3        $1.51     $3,154,057,987       $6.63
4        $0.97    $94,635,415,870       $0.71
5        $0.99     $1,727,759,259       $3.04

In [25]:
lista_moneda = ["gasolineprice", "gdp", "minimumwage"]
for col in lista_moneda:
    df_unidos[col] = df_unidos[col].str.split("$", expand=True).get(1)

In [26]:
df_unidos.loc[:5, ["gasolineprice", "gdp", "minimumwage"]]

  gasolineprice               gdp minimumwage
0         0.70    19,101,353,833        0.43
1         1.36    15,278,077,447        1.12
2         0.28   169,988,236,398        0.95
3         1.51     3,154,057,987        6.63
4         0.97    94,635,415,870        0.71
5         0.99     1,727,759,259        3.04

Guarda el DataFrame para usarlo en el pairprogramming de mañana.

In [27]:
df_unidos.to_csv("pair_group_by_apply.csv")

## Ejercicios de Filtrado
Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

In [31]:
df_unidos.loc[:5, ['infantmortality', 'country', 'density']]

   infantmortality              country density
0             47.9          Afghanistan      60
1              7.8              Albania     105
2             20.1              Algeria      18
3              2.7              Andorra     164
4             51.6               Angola      26
5              5.0  Antigua and Barbuda     223

### Opción 1

In [35]:
lista = [str(i) for i in range(40, 51)]
lista

['40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50']

In [43]:
df_paises = df_unidos[df_unidos['density'].isin(lista)]
df_paises[['country', 'density']]

                              country density
15                            Belarus      47
37                           Colombia      46
45   Democratic Republic of the Congo      40
47                           Djibouti      43
53                  Equatorial Guinea      50
58                               Fiji      49
99                          Lithuania      43
101                        Madagascar      48
115                        Montenegro      47
117                        Mozambique      40
161                      South Africa      49

### Opción 2

In [45]:
df_paises1 = df_unidos[df_unidos['infantmortality'].between(40, 50, inclusive='both')]
df_paises1[['country', 'infantmortality']]

          country  infantmortality
0     Afghanistan             47.9
26   Burkina Faso             49.0
27        Burundi             41.0
47       Djibouti             49.8
72          Haiti             49.5
89       Kiribati             41.2
125         Niger             48.0
166         Sudan             42.1
175          Togo             47.4
192         Yemen             42.9
193        Zambia             40.4

Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

In [50]:
df_paises2 = df_unidos[(df_unidos['birthrate'] >= 20) & (df_unidos['lifeexpectancy'] > 75)]
df_paises2[['country', 'birthrate', 'lifeexpectancy']]

     country  birthrate  lifeexpectancy
2    Algeria      24.28            76.7
74  Honduras      21.60            75.1
82    Israel      20.80            82.8

Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

In [55]:
df_ciudades = df_unidos[df_unidos['country'].str.contains('la')]
df_ciudades[['largestcity', 'capital/majorcity', 'country']]

        largestcity capital/majorcity              country
4            Luanda            Luanda               Angola
13            Dhaka             Dhaka           Bangladesh
15            Minsk             Minsk              Belarus
59         Helsinki          Helsinki              Finland
68   Guatemala City    Guatemala City            Guatemala
76        Reykjav��         Reykjav��              Iceland
81         Connacht            Dublin  Republic of Ireland
102        Lilongwe          Lilongwe               Malawi
103     Johor Bahru      Kuala Lumpur             Malaysia
107          Majuro            Majuro     Marshall Islands
122       Amsterdam         Amsterdam          Netherlands
123        Auckland        Wellington          New Zealand
132           Koror         Ngerulmud                Palau
139          Warsaw            Warsaw               Poland
159         Honiara           Honiara      Solomon Islands
169            Z���              Bern          Switzerland
173         Bangkok           Bangkok             Thailand
190         Caracas           Caracas            Venezuela

Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

In [56]:
df_paises3 = df_unidos[df_unidos['physiciansperthousand'] > 5]
df_paises3[['country', 'physiciansperthousand']]

        country  physiciansperthousand
9       Austria                   5.17
15      Belarus                   5.19
42         Cuba                   8.42
63      Georgia                   7.12
66       Greece                   5.48
99    Lithuania                   6.35
113      Monaco                   6.56
140    Portugal                   5.12
149  San Marino                   6.11
187     Uruguay                   5.05


Encuentra los países cuyatasa de fertilidad sea mayor a 6.

In [57]:
df_paises4 = df_unidos[df_unidos['fertilityrate'] > 6]
df_paises4[['country', 'fertilityrate']]

     country  fertilityrate
125    Niger           6.91
160  Somalia           6.07

Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

In [60]:
promedio = df_unidos['birthrate'].mean()
promedio

20.214973544973546

In [62]:
df_paises5 = df_unidos[(df_unidos['currency-code'] == 'EUR') & (df_unidos['birthrate'] > df_unidos['birthrate'].mean())]
df_paises5[['country', 'currency-code', 'birthrate']]
# No hay resultados porque no hay paises cuya la moneda sea Euro y que tengan la tasa de natalidad superior al promedio de la tase de natalidad general, no hemos considerado el promedio de la tasa solo para los paises cuya moneda sea Euro.

Empty DataFrame
Columns: [country, currency-code, birthrate]
Index: []


Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.

In [63]:
df_paises6 = df_unidos[df_unidos['infantmortality'] > 70]
df_paises6[['country', 'infantmortality']]

                      country  infantmortality
33   Central African Republic             84.5
34                       Chad             71.4
126                   Nigeria             75.7
155              Sierra Leone             78.5
160                   Somalia             76.6