# Pair Unión y Limpieza de Datos

Ejercicios Unión de Datos
Para realizar este pair programming deberéis usar el conjunto de datos de world-data-2023-part1.csv y el de world-data-2023-part2.csv.

Hoy tenemos un dataset nuevo, en este encontraremos las siguientes columnas:

`GDP`: Producto Interno Bruto, el valor total de bienes y servicios producidos en el país.

`Gross primary education enrollment (%)`: Tasa bruta de matriculación en educación primaria.

`Gross tertiary education enrollment (%)`: Tasa bruta de matriculación en educación terciaria.

`Infant mortality`: Número de muertes por cada 1,000 nacidos vivos antes de cumplir un año de edad.

`Largest city`: Nombre de la ciudad más grande del país.

`Life expectancy`: Número promedio de años que se espera que viva un recién nacido.

`Maternal mortality ratio`: Número de muertes maternas por cada 100,000 nacidos vivos.

`Minimum wage`: Nivel de salario mínimo en moneda local.

`Official language`: Idioma(s) oficial(es) hablado(s) en el país.

`Out of pocket health expenditure`: Porcentaje del gasto total en salud pagado directamente por individuos.

`Physicians per thousand`: Número de médicos por cada mil personas.

`Population`: Población total del país.

`Population: Labor force participation (%)`: Porcentaje de la población que forma parte de la fuerza laboral.

`Tax revenue (%)`: Ingresos fiscales como porcentaje del PIB.

`Total tax rate`: Carga fiscal total como porcentaje de las ganancias comerciales.

`Unemployment rate`: Porcentaje de la fuerza laboral que está desempleada.

`Urban_population`: Porcentaje de la población que vive en áreas urbanas.

`coordinates`: Coordenadas de latitud y longitud de la ubicación del país.

`country`: Nombre del país.

Tienes a tu disposición dos conjuntos de datos, "world-data-2023-part1.csv" y "world-data-2023-part2.csv", que contienen información de una serie de indicadores y datos de distintos países. Tu tarea es explorar estos conjuntos de datos y determinar qué tienen en común en términos de columnas y datos.

In [55]:
import pandas as pd
import re

In [56]:
df_part1 = pd.read_csv("world-data-2023_part1.csv", index_col=0)
df_part1.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

In [57]:
df_part1.shape

(195, 16)

In [58]:
df_part2.shape

(195, 19)

In [59]:
df_part2 = pd.read_csv("world-data-2023_part2.csv", index_col=0)
df_part2.head()

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"

Luego, debes crear un nuevo DataFrame que combine la información de ambos conjuntos de datos en un solo conjunto de datos. Para hacerlo, debes seleccionar el método de unión de Pandas que consideres más apropiado para esta situación y justificar por qué crees que ese método es el mejor en tu informe.

Asegúrate de realizar los siguientes pasos:

Explora y carga ambos conjuntos de datos en pandas DataFrames.

Identifica las columnas comunes entre los dos conjuntos de datos.

Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

In [60]:
df_unidos = df_part1.merge(df_part2,left_on = "Country", right_on="country" )
df_unidos.shape

(195, 35)


#### Merge es el mejor metodo pq hemos visto que tienen una columna en común. Por defect es inner

Ejercicios de Limpieza
Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [61]:
df_unidos.drop(columns=["country"], inplace=True)

In [62]:
df_unidos.shape

(195, 34)

Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

No tengan espacios.

Estén en minúscula.

No tengan paréntesis, es decir, quitar "(%)", "(Km2)".

Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [63]:
nuevas_columnas = { columna: re.sub(r'\([^)]*\)', '', columna).lower().replace(" ", "").replace('\n',"").replace(":","") for columna in df_unidos.columns }
nuevas_columnas

{'Country': 'country',
 'Density\n(P/Km2)': 'density',
 'Abbreviation': 'abbreviation',
 'Agricultural Land( %)': 'agriculturalland',
 'Land Area(Km2)': 'landarea',
 'Armed Forces size': 'armedforcessize',
 'Birth Rate': 'birthrate',
 'Calling Code': 'callingcode',
 'Capital/Major City': 'capital/majorcity',
 'Co2-Emissions': 'co2-emissions',
 'CPI': 'cpi',
 'CPI Change (%)': 'cpichange',
 'Currency-Code': 'currency-code',
 'Fertility Rate': 'fertilityrate',
 'Forested Area (%)': 'forestedarea',
 'Gasoline Price': 'gasolineprice',
 'GDP': 'gdp',
 'Gross primary education enrollment (%)': 'grossprimaryeducationenrollment',
 'Gross tertiary education enrollment (%)': 'grosstertiaryeducationenrollment',
 'Infant mortality': 'infantmortality',
 'Largest city': 'largestcity',
 'Life expectancy': 'lifeexpectancy',
 'Maternal mortality ratio': 'maternalmortalityratio',
 'Minimum wage': 'minimumwage',
 'Official language': 'officiallanguage',
 'Out of pocket health expenditure': 'outofpockethealthexpenditure',
 'Physicians per thousand': 'physiciansperthousand',
 'Population': 'population',
 'Population: Labor force participation (%)': 'populationlaborforceparticipation',
 'Tax revenue (%)': 'taxrevenue',
 'Total tax rate': 'totaltaxrate',
 'Unemployment rate': 'unemploymentrate',
 'Urban_population': 'urban_population',
 'coordinates': 'coordinates'}

In [64]:
df_unidos.rename(columns=nuevas_columnas, inplace=True)

In [65]:
df_unidos.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'coordinates'],
      dtype='object')

La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [66]:
df_coord = df_unidos["coordinates"].str.split(",", expand=True).get([0,1])

In [67]:
df_lat = df_coord[0].str.replace("(", "")
df_long = df_coord[1].str.replace(")", "")

In [68]:
df_unidos["latitud"] = df_lat

In [72]:
df_unidos["longitud"] = df_long

In [74]:
df_unidos.drop(columns="coordinates", inplace=True)

In [75]:
df_unidos.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud'],
      dtype='object')


Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [78]:
lista = ["unemploymentrate", "totaltaxrate", "taxrevenue", "populationlaborforceparticipation", "outofpockethealthexpenditure","grosstertiaryeducationenrollment", "grossprimaryeducationenrollment",  "forestedarea", "cpichange", "agriculturalland"]

In [ ]:
for col in lista:
    df_unidos[col] = df_unidos[col].str.split("%", expand=True)

Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

Guarda el DataFrame para usarlo en el pairprogramming de mañana.

In [ ]:
df_coord = df_unidos["coordinates"].str.split(",", expand=True).get([0,1])

## Ejercicios de Filtrado
Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.


Encuentra los países cuyatasa de fertilidad sea mayor a 6.

Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.


Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.