In [39]:
import pandas as pd
import numpy as np

## Ejercicios apply

Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [148]:
df = pd.read_csv('pair_group_by_apply.csv', index_col=0)
df.head(2)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",'33.93911 ','67.709953'
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",'41.153332 ','20.168331'

In [149]:
lista = ['landarea', 'armedforcessize', 'co2-emissions', 'gdp', 'population', 'urban_population']
lista1 = ['latitud', 'longitud', 'density', 'cpi']

In [150]:
df[lista1].head()

         latitud      longitud density     cpi
0    '33.93911 '   '67.709953'      60   149.9
1   '41.153332 '   '20.168331'     105  119.05
2   '28.033886 '    '1.659626'      18  151.36
3   '42.506285 '    '1.521801'     164     NaN
4  '-11.202692 '   '17.873887'      26  261.73

In [158]:
df[lista].head()

,landarea,armedforcessize,co2-emissions,gdp,population,urban_population
0,"652,230","323,000","8,672","19,101,353,833","38,041,754","9,797,273"
1,"28,748","9,000","4,536","15,278,077,447","2,854,191","1,747,593"
2,"2,381,741","317,000","150,006","169,988,236,398","43,053,054","31,510,100"
3,468,NaN,469,"3,154,057,987","77,142","67,873"
4,"1,246,700","117,000","34,693","94,635,415,870","31,825,295","21,061,025"

In [101]:
df.select_dtypes(include='O').columns

Index(['country', 'density', 'abbreviation', 'landarea', 'armedforcessize',
       'capital/majorcity', 'co2-emissions', 'cpi', 'currency-code', 'gdp',
       'largestcity', 'officiallanguage', 'population', 'urban_population',
       'latitud', 'longitud'],
      dtype='object')

In [159]:
def cambia_tipo(val):
    try:
        return val.str.replace("'", "").str.replace(',', '')
    except:
        return np.nan

In [160]:
df[lista] = df[lista].apply(cambia_tipo)

In [161]:
df[lista].head()

,landarea,armedforcessize,co2-emissions,gdp,population,urban_population
0,652230,323000,8672,19101353833,38041754,9797273
1,28748,9000,4536,15278077447,2854191,1747593
2,2381741,317000,150006,169988236398,43053054,31510100
3,468,NaN,469,3154057987,77142,67873
4,1246700,117000,34693,94635415870,31825295,21061025

In [162]:
df[lista].dtypes

landarea            object
armedforcessize     object
co2-emissions       object
gdp                 object
population          object
urban_population    object
dtype: object

In [163]:
df[lista] = df[lista].apply(lambda x: x.astype(float))

In [164]:
df[lista].dtypes

landarea            float64
armedforcessize     float64
co2-emissions       float64
gdp                 float64
population          float64
urban_population    float64
dtype: object

In [165]:
df[lista].head()

,landarea,armedforcessize,co2-emissions,gdp,population,urban_population
0,652230.0,323000.0,8672.0,1.910135e+10,38041754.0,9797273.0
1,28748.0,9000.0,4536.0,1.527808e+10,2854191.0,1747593.0
2,2381741.0,317000.0,150006.0,1.699882e+11,43053054.0,31510100.0
3,468.0,NaN,469.0,3.154058e+09,77142.0,67873.0
4,1246700.0,117000.0,34693.0,9.463542e+10,31825295.0,21061025.0

In [167]:
df1 = df[lista + lista1]
df1.head()

,landarea,armedforcessize,co2-emissions,gdp,population,urban_population,latitud,longitud,density,cpi
0,652230.0,323000.0,8672.0,1.910135e+10,38041754.0,9797273.0,33.939110,67.709953,60.0,149.90
1,28748.0,9000.0,4536.0,1.527808e+10,2854191.0,1747593.0,41.153332,20.168331,105.0,119.05
2,2381741.0,317000.0,150006.0,1.699882e+11,43053054.0,31510100.0,28.033886,1.659626,18.0,151.36
3,468.0,NaN,469.0,3.154058e+09,77142.0,67873.0,42.506285,1.521801,164.0,NaN
4,1246700.0,117000.0,34693.0,9.463542e+10,31825295.0,21061025.0,-11.202692,17.873887,26.0,261.73

In [168]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 0 to 194
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   landarea          194 non-null    float64
 1   armedforcessize   171 non-null    float64
 2   co2-emissions     188 non-null    float64
 3   gdp               193 non-null    float64
 4   population        194 non-null    float64
 5   urban_population  190 non-null    float64
 6   latitud           194 non-null    float64
 7   longitud          194 non-null    float64
 8   density           195 non-null    float64
 9   cpi               178 non-null    float64
dtypes: float64(10)
memory usage: 16.8 KB

Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

## Ejercicios groupby

¿Cuál es la densidad de población promedio por continente?

¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

¿Cuál es la tasa de mortalidad infantil promedio por moneda?

¿Cuál es el salario mínimo por continente?

¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:

Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".

Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".

Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.

Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

¿Cuál es el porcentaje de población urbana promedio por continente?

¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:

Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:

Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.

Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

Ejercicios bonus groupby:

¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.

¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?